/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  width: 100%;
  padding: 1.2rem 0;
  background-color: rgba(246, 246, 246, 0.9);
  border-bottom: 2px solid #F1F1F1;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navigation .nav-text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.navigation .nav-text h1 {
  font-size: 4rem;
  padding-bottom: 2rem;
}
.navigation .nav-text nav {
  width: 37.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
}
.navigation .nav-text nav a {
  color: #454A59;
  font-size: 1.6rem;
  text-decoration: none;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro img {
  border-radius: 5px;
}
@media (max-width: 500px) {
  .home .intro img {
    width: 100%;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img:first-child {
    width: 90%;
    margin: 20px auto;
  }
}
@media (max-width: 500px) {
  .home .space-images img:nth-of-type(2),
  .home .space-images img:last-child {
    display: none;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    margin-top: 20px;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 100%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  background-color: #22283A;
  color: #F6F7F8;
  border-radius: 5px;
  width: 10rem;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  cursor: pointer;
}
.home .walk .walk-text .btn:hover {
  background-color: #F6F7F8;
  color: #22283A;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    background-color: #22283A;
    color: #F6F7F8;
    border-radius: 5px;
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
    padding-top: 2.7rem;
    padding-bottom: 2.7rem;
    cursor: pointer;
  }
  .home .walk .walk-text .btn:hover {
    background-color: #F6F7F8;
    color: #22283A;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    width: 100%;
    margin-left: unset;
    margin-bottom: 20px;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.home .subscribe {
  border-top: 1px solid #dee2e6;
  padding: 40px 15px;
}
.home .subscribe h3 {
  margin-bottom: 20px;
}
.home .subscribe form {
  width: 75%;
  margin: 0 auto;
  padding: 30px 5%;
  text-align: center;
  background-color: #F6F6F6;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .subscribe form {
    width: 100%;
  }
}
.home .subscribe form input[type=text] {
  width: 100%;
  padding: 7px 0 7px 4px;
  margin-bottom: 15px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}
.home .subscribe form input[name=first-name],
.home .subscribe form input[name="state"] {
  margin-right: 10px;
}
.home .subscribe form .name,
.home .subscribe form .state-zip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.home .subscribe form .street-city {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.home .subscribe form input[type="submit"] {
  margin-top: 10px;
  background-color: #22283A;
  color: #F6F7F8;
  border-radius: 5px;
  width: 150px;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  border: 0;
}
.home .subscribe form input[type="submit"]:hover {
  background-color: #F6F7F8;
  color: #22283A;
}
@media (max-width: 500px) {
  .home .subscribe form input[type="submit"] {
    width: 100%;
  }
}
.home .subscribe form input[type="submit"]:hover {
  border: 1px solid #22283A;
}
.about .head-img {
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}
.about .head-img img {
  max-width: 100%;
  height: auto;
  margin-top: -180px;
}
.about .about-text {
  margin: 30px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #dee2e6;
}
.about .about-text h2 {
  margin-bottom: 10px;
}
.about .story {
  width: 90%;
  margin: 0 auto 40px;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.about .story .story-text {
  width: 50%;
}
.about .story .story-text h3,
.about .story .story-text p {
  margin-bottom: 10px;
}
.about .story .story-img {
  width: 46%;
  margin-left: 4%;
}
.about .story .story-img img {
  max-width: 100%;
  border-radius: 10px;
}
